<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  
  <div class="col-10">
  <h3 style ="color:rgb(150,150,150)  margin-bottom:4px;">
    {{ job['title']}}
  </h3> 

<div>
  <b> Location:</b>
{{ job['location']}} 
</div>

{% if 'salary' in job %}
<div>
  <b> Salary:</b>{{ job['salary']}} 
</div>
{% endif %}
</div>
   <div class="col-2"> 
  <a  href="mailto:doitamer@yahoo.com?subject=Mail Application for {{job['title'] }} & Body:
    My name <your name here>
    My resume link <resume link>
    My linkdin link <linkdin link>
"   type="button" class="btn btn-outline-primary">Apply</a>
   </div>
</div>